.reserve {
  display: inline-flex !important;
}

.reserve-info {
  width: 600px;
  margin: 0px auto;
  text-align: center;
}

.table {
  width: 70%
}

.reserve-sheet {
  text-align: center;
  display: block;
}

.time {
  width: 50%;
  display: inline-block;
}